.baby {
  background-image: url('images/baby.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  height: 300px;
}

.baby.crying {
  background-image: url('images/baby-crying.svg');
}

.crib {
  background: url('images/crib.png'),
              url('images/baby-playing.svg');

  background-size: contain, 50%;
  background-position: center center;
  background-repeat: no-repeat;

  height: 300px;
}

.crib.escaped {
  background-image: url('images/crib.png');
}

